.renderer-container {
  height: 100%;
  background-color: #404040;
  background-image: url('assets/texture.png');
  display: flex;
  flex: 1;
  flex-direction: column;
}

.renderer-target-container {
  overflow: auto;
  flex: 1;
  z-index: 1;
}

.pdfViewer {
  &.hidden {
    visibility: hidden;
  }
}
